.nav {
  position: sticky;
  min-height: 120px;
  width: 100%;
  z-index: 1001;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #242b31;

  /* Animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav:hover {
  background-color: transparent;
}

.nav__logo {
  flex-basis: 200px;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.5rem;
  color: #db6637;
  cursor: default;
}
