.construction {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 30px;
  box-sizing: border-box;
  background-color: #fcede7;
}

.construction__content {
  flex: 0 1 auto;
  color: #242b31;
}

.construction__content > h1 {
  font-size: 6rem;
}

.construction__content > h2 {
  font-size: 3rem;
}

.construction__content > h3 {
  font-size: 1rem;
}

.construction__button {
  width: 100px;
  padding: 16px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 700;
  color: #fcede7;
  margin-top: 20px;
  background-color: #db6637;
}

.construction > img {
  flex: 0 1 auto;
  width: 40vw;
  min-width: 380px;
}
