.flashcard-add {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.6);
}

.flashcard-add__window {
  position: relative;
  width: 30vw;
  max-width: 600px;
  min-width: 320px;
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  box-sizing: border-box;
  padding: 0 20px 20px 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #fcede7;
}

.flashcard-add__close {
  position: absolute;
  display: flex;
  right: 30px;
  top: 15px;
  border-radius: 50%;
  background-color: #fcede7;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.flashcard-add__content {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
  padding: 0 20px;
  gap: 8px;
}

.funfact {
  display: flex;
  flex: 2 0 auto;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.flashcard-add__content > input,
button {
  display: flex;
  flex: 1 0 auto;
  border: 1px solid #242b31;
  border-radius: 5px;
  padding: 6px;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  outline: none;
}

.flashcard-add__content > button {
  border: none;
  background-color: #242b31;
  justify-content: center;
  color: #fcede7;
}

.flashcard-add__picture {
  flex: 1 0 20vh;
  max-height: 200px;
  background-image: url("https://www.nawpic.com/media/2020/spirited-away-nawpic-23.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 0 0 5px 5px;
}

@media screen and (max-width: 600px) {
  .funfact {
    font-size: 3vw;
  }
}
