.flashcard-list {
  min-height: 90vh;
  width: 100%;
  background-color: #db6637;
}

.flashcard-list__banner {
  height: 5vh;
  width: 100%;
  background-color: #242b31;
}

.flashcard-list__content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 20px;
  padding: 30px;
  font-size: 0.8rem;
}

.flashcard-list__box {
  width: 60vw;
}

.flashcard-list__deck {
  flex: 1 0 250px;
}

.box__row {
  padding: 15px;
  text-align: center;
  background-color: #242b31;
  color: #fcede7;
  border: solid 5px#242b31;
  border-radius: 50px;
  cursor: pointer;

  /* Animations */
  transition-timing-function: ease-in;
  transition: all 0.3s;
}

.box__row:hover {
  background-color: #fcede7;
  color: #db6637;
}

.box__decks {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

.deck__row {
  padding: 10px;
  text-align: center;
  background-color: #242b31;
  color: #fcede7;
  border: solid 5px#242b31;
  border-radius: 50px;
  cursor: pointer;

  /* Animations */
  transition-timing-function: ease-in;
  transition: all 0.3s;
}

.deck__row:hover {
  background-color: #fcede7;
  color: #db6637;
}

.deck__flashcards {
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
  padding: 20px;
}

.flashcard-list__flashcard {
  flex: 1 0 auto;
}

.flashcard__row {
  padding: 8px;
  text-align: left;
  background-color: #242b31;
  color: #fcede7;
  border: solid 5px#242b31;
  border-radius: 15px;
  cursor: pointer;
}

.flashcard__row > h3,
h5 {
  font-weight: 300;
}

@media screen and (max-width: 900px) {
  .flashcard-list__box {
    width: 100%;
  }
}
